* {
    box-sizing: border-box;
    /* border: red 1px solid; */
}

body{
    background: #fffde4;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app{
    display: flex;
    flex-direction: column;
    min-height:100vh;
    width: 50%;
    color: rgb(22, 22, 22);
    margin: 0 50px;
    text-align: center;
}

h1.headline {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

.entry{
    background: rgba(123, 123, 123, 0.4);
}

form {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

/* #entryHolder{

}

#date{

}

#temp{

}

#content{

}

.headline {

}
.title{

} */

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 1.875rem;
    margin-bottom: 20px;
}

label#feelings-label {
    margin-top: 50px;
}

input{
    display:block;
    height: 60px;
    width: 100%;
    background:#fff;
    font-size: 1rem;
    font-style: italic;
    padding: 10px;
    border: grey 0.5px solid;
}

button{
    width: 30%;
    height: 70px;
    background: #0d6efd;
    box-shadow: 2px 4px 5px #444;
    color: white;
    font-size: 1.2rem;
    border-radius: 12px;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
    border: none;
}

textarea{
    display: block;
    background:#fff;
    font-size: 1rem;
    padding: 10px;
    width: 100%;
    font-style: italic;
    border: grey 0.5px solid;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}